<!DOCTYPE html>
<html>
<head>
    <!--当前文档用的字符集为utf-8-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title CareInfoProvider</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--这里放logo，等有图了把路径换了就行-->
    <img src="~/LocalPictures/我整个人都傻了.jpg" />
    <!--这里是公用导航栏，CSS以后再补-->
    <div class="navbar navbar-inverse" style="background-color:cornflowerblue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CareInfoProvider", "Home", "Course","OtherInfo","MelbourneNursingHome","SceneSimulation",new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Course", "Course", "Home")</li>
                    <li>@Html.ActionLink("Other Information", "OtherInfo", "Home")</li>
                    <li>@Html.ActionLink("Melbourne Nursing Home","MelbourneNursingHome","Home")</li>
                    <li>@Html.ActionLink("Scene Simulation","SceneSimulation","Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <!--脚注-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Time: &copy; @DateTime.Now</p>
            <p>Privacy and Terms of Use Copyright</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
